<% # https://api.rubyonrails.org/classes/ActionDispatch/Flash.html %>
<% if flash[:notice] || flash[:errors] || alert || notice %>
  <div class="grid-row margin-bottom-3">
    <div class="grid-col-12">
      <% if flash[:notice] || notice %>
        <%= render AlertComponent.new(type: "success", message: flash[:notice] || notice) %>
      <% end %>

      <% if flash[:errors] || alert %>
        <%= render AlertComponent.new(type: "error") do |c| %>
          <% c.with_body do %>
            <% if flash[:errors] %>
              <h3 class="usa-alert__heading">
                <%= t "flash.error_heading", count: flash[:errors].count %>
              </h3>
            <% end %>
            <div class="usa-alert__text">
              <% if alert %>
                <%= alert %>
              <% elsif flash[:errors].count == 0 %>
                <p><%= t('flash.error_fallback') %></p>
                <button class="usa-button usa-button--outline" onclick="location.reload();">
                  <%= t('flash.reload_page') %>
                </button>
              <% elsif flash[:errors].count == 1 %>
                <%= flash[:errors].first %>
              <% else %>
                <ul class="usa-list">
                  <% flash[:errors].each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
