<tr>
  <td>
    <%= @case.name %>
  </td>
  <td>
    <%= link_to @case.case_number, @case.path %>
  </td>
  <td>
    —
  </td>
  <td>
    <%= @case.step %>
  </td>
  <td>
    <%= due_on(@case) %>
  </td>
  <td>
    <%= @case.created_at.strftime('%m/%d/%Y') %>
  </td>
</tr>
