<div id="<%= dom_id activity_report_application_form %>">
  <% monthly_statistics.each_with_index do |(month, stats), index| %>
    <% hourly_activities, income_activities, ex_parte_activities, summed_hours, summed_income, remaining_hours, remaining_income =
         stats.values_at(:hourly_activities, :income_activities, :ex_parte_activities, :summed_hours, :summed_income, :remaining_hours, :remaining_income) %>
    <h2 class="margin-bottom-2"><%= month.strftime("%B %Y") %></h2>
    <%= render partial: "activity_report_application_forms/monthly_summary",
      locals: {
        income_activities:,
        hourly_activities:,
        summed_income:,
        summed_hours:,
        remaining_hours:,
        remaining_income:
      }
    %>
    <%# Breakdown of activities for month %>
    <div class="grid-container font-body-md">
      <% if hourly_activities.any? || ex_parte_activities.any? %>
      <% if hourly_activities.any? || ex_parte_activities.any? %>
        <%# Hourly activities %>
        <%= render partial: "activity_report_application_forms/monthly_activities_table",
          locals: {
            title: t(".hours_reported"),
            column_header: t("activity_report_application_forms.shared.hours"),
            activities: hourly_activities,
            ex_parte_activities: ex_parte_activities,
            ex_parte_activities: ex_parte_activities,
            activity_report_application_form:,
            activity_value: ->(activity) { activity.hours },
            ex_parte_value: ->(ex_parte_data) { ex_parte_data[:allocated_hours] },
            ex_parte_value: ->(ex_parte_data) { ex_parte_data[:allocated_hours] },
            format_value: ->(value) { value },
            summed_value: summed_hours,
            required_value: ActivityReportApplicationForm::MINIMUM_MONTHLY_HOURS,
            remaining_value: remaining_hours,
            remaining_label: t("activity_report_application_forms.monthly_activities_table.remaining_label.hours")
          }
        %>
      <% end %>
      <% if income_activities.any? %>
        <%# Income activities %>
        <%= render partial: "activity_report_application_forms/monthly_activities_table",
          locals: {
            title: t(".income_reported"),
            column_header: t("activity_report_application_forms.shared.income"),
            activities: income_activities,
            ex_parte_activities: [],
            ex_parte_activities: [],
            activity_report_application_form:,
            activity_value: ->(activity) { number_to_currency(activity.income&.dollar_amount, precision: 0) },
            ex_parte_value: ->(ex_parte_data) { number_to_currency(ex_parte_data[:allocated_income], precision: 0) },
            ex_parte_value: ->(ex_parte_data) { number_to_currency(ex_parte_data[:allocated_income], precision: 0) },
            format_value: ->(value) { number_to_currency(value, precision: 0) },
            summed_value: summed_income,
            required_value: ActivityReportApplicationForm::MINIMUM_MONTHLY_INCOME,
            remaining_value: remaining_income,
            remaining_label: t("activity_report_application_forms.monthly_activities_table.remaining_label.income")
          }
        %>
      <% end %>
    </div>
  <% end %>
</div>
