<div id="<%= dom_id activity_report_application_form %>">
  <% for month, activities in activity_report_application_form.activities_by_month do %>
    <h2><%= month.strftime("%B %Y") %></h2>
    <div class="grid-container font-body-md">
      <% for activity in activities %>
        <%= render "activity_report_application_forms/activity_row", activity_report_application_form:, activity: %>
      <% end %>
      <%= render "activity_report_application_forms/month_total_row", activities: activities %>
      <%# Required hours row %>
      <div class="grid-row">
        <div class="grid-col-8 grid-offset-1">
          Required hours
        </div>
        <div class="grid-col-3 text-right">
          80.0
        </div>
      </div>
      <%# Additional hours needed row %>
      <div class="grid-row text-bold">
        <div class="grid-col-8 grid-offset-1">
          Additional hours needed
        </div>
        <div class="grid-col-3 border-top-1px text-right">
          <%= [0.0, 80.0 - activities.sum(&:hours)].max %>
        </div>
      </div>
    </div>
  <% end %>
</div>
