<div id="<%= dom_id activity %>" class="grid-row">
  <% if activity.type == "IncomeActivity" %>
    <div class="grid-col-8 grid-offset-2">
      <%= link_to t(".income_earned_from", organization_name: activity.name), [activity_report_application_form, activity.becomes(Activity)] %>
    </div>
    <div class="grid-col-2 text-right">
      <%= number_to_currency(activity.income&.dollar_amount, precision: 0) %>
    </div>
  <% else %>
    <div class="grid-col-8 grid-offset-2">
      <%= link_to t(".hours_worked_for", organization_name: activity.name), [activity_report_application_form, activity.becomes(Activity)] %>
    </div>
    <div class="grid-col-2 text-right">
      <%= activity.hours.round(1) %>
    </div>
  <% end %>
</div>
