<div id="<%= dom_id activity_report_application_form %>">
  <% for month, activities in activity_report_application_form.activities_by_month do %>
    <% hourly_activities = activities.select { |act| act.type == "WorkActivity" } %>
    <% income_activities = activities.select { |act| act.type == "EarnedIncomeActivity" } %>
    <% summed_hours = hourly_activities.map { |act| act.try(:hours) || 0 }.sum %>
    <% summed_income = income_activities.map { |act| act.earned_income.dollar_amount || 0 }.sum %>
    <% max_summed_hours = [0, 80.0 - summed_hours].max %>
    <% hours_equivalent_of_earnings = (summed_income / 7.25).round(2) %>
    <% earned_income_equivalent_of_hours = (summed_hours * 7.25).round(2) %>
    <h2><%= month.strftime("%B %Y") %></h2>
    <div class="grid-container font-body-md">
      <% if income_activities.any? %>
        <%# Earned income activities %>
        <div class="grid-row">
          <div class="grid-col-11 grid-offset-1 text-bold">
            <%= t(".earned_income_activities") %>
          </div>
        </div>
        <%= render partial: "activity_report_application_forms/activity_row",
          collection: income_activities,
          as: :activity,
          locals: { activity_report_application_form: activity_report_application_form } %>
        <div class="grid-row">
          <div class="grid-col-8 grid-offset-2">
            <%= t(".total_earnings") %>
          </div>
          <div class="grid-col-2 border-top-1px text-right">
            <%= number_to_currency(summed_income, precision: 0) %>
          </div>
        </div>
      <% end %>
      <% if hourly_activities.any? %>
        <%# Hourly activities %>
        <div class="grid-row">
          <div class="grid-col-11 grid-offset-1 text-bold">
            <%= t(".hourly_activities") %>
          </div>
        </div>
        <%= render partial: "activity_report_application_forms/activity_row",
          collection: hourly_activities,
          as: :activity,
          locals: { activity_report_application_form: activity_report_application_form } %>
        <div class="grid-row">
          <div class="grid-col-8 grid-offset-2">
            <%= t(".total_hours_reported") %>
          </div>
          <div class="grid-col-2 border-top-1px text-right">
            <%= summed_hours %>
          </div>
        </div>
      <% end %>
      <% if income_activities.any? %>
        <%# Hours equivalent of earnings row %>
        <div class="grid-row">
          <div class="grid-col-8 grid-offset-2">
            <%= t(".hours_equivalent_of_total_earnings") %>
          </div>
          <div class="grid-col-2 text-right">
            <%= hours_equivalent_of_earnings %>
          </div>
        </div>
        <%# Hours contributing to requirement row %>
        <div class="grid-row">
          <div class="grid-col-8 grid-offset-2">
            <%= t(".total_hours_contributing_to_requirement") %>
          </div>
          <div class="grid-col-2 text-right border-top-1px">
            <%= hours_equivalent_of_earnings + summed_hours %>
          </div>
        </div>
      <% end %>
      <%# Required hours row %>
      <div class="grid-row">
        <div class="grid-col-8 grid-offset-2">
          <%= t(".total_required_hours") %>
        </div>
        <div class="grid-col-2 text-right">
          80.0
        </div>
      </div>
      <%# Additional hours needed row %>
      <div class="grid-row text-bold">
        <div class="grid-col-8 grid-offset-2">
          <%= t(".remaining_income_or_hours_needed") %>
        </div>
        <div class="grid-col-2 border-top-1px text-right">
          <%= max_summed_hours %>hrs<sup>**</sup> <%= t(".or") %> <%= number_to_currency(earned_income_equivalent_of_hours, precision: 0) %>
        </div>
      </div>
    </div>
  <% end %>
  <p class="maxw-full full-width font-sans-xs">
    <sup>*</sup><%= t(".federal_minimum_wage_note") %><br />
    <sup>**</sup><%= t(".hours_equivalent_note", amount: number_to_currency(earned_income_equivalent_of_hours, precision: 0), hours: max_summed_hours) %>
  </p>
</div>
