<%= strata_form_with(model: activity_report_application_form, data: { turbo: false }) do |f| %>
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Select reporting period(s)</legend>

    <%# Get currently selected reporting periods as JSON strings for comparison %>
    <% selected_values = activity_report_application_form.reporting_periods.map do |rp|
         { year: rp.year, month: rp.month }.to_json
       end
     %>

    <%# Generate the last 6 months of options %>
    <%# TODO: Update strata-sdk to support setting strata array attributes from date strings (e.g. "2024-01"). %>
    <%# Linear Issue: TSS-375(https://linear.app/nava-platform/issue/TSS-375/add-ability-to-set-array-attributes) %>
    <%# Use datestring when supported: [date.strftime("%B %Y"), date.strftime("%Y-%m")] %>
    <% dates = 6.times.map do |i|
         date = (Date.today - i.months).beginning_of_month
         # Return array of [label, value]
         [date.strftime("%B %Y"), { year: date.year, month: date.month }.to_json]
       end
     %>

    <%= f.collection_check_boxes :reporting_periods, dates, :last, :first,
        { checked: selected_values },
        { class: "usa-checkbox__input" } do |builder| %>
      <div class="usa-checkbox">
        <%= builder.check_box(class: "usa-checkbox__input") %>
        <%= builder.label(class: "usa-checkbox__label") %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Save", big: true %>
<% end %>
