<%= content_for :title, t(".title") %>

<%= render "strata/shared/step_indicator",
     steps: %i[start select_periods add_activities review submitted],
     current_step: :add_activities,
     translation_scope: "activity_report_application_forms.steps" %>

<p>
  <%= uswds_icon("arrow_back", css_class: "text-primary margin-right-05", style: "vertical-align: middle;") %>
  <%= link_to t(".back_link"), edit_activity_report_application_form_path(@activity_report_application_form), class: "usa-link" %>
</p>

<h1><%= t(".title") %></h1>
<p><%= t(".instructions") %></p>
<ul class="usa-list">
  <li><%= t(".document_types.pay_stubs") %></li>
  <li><%= t(".document_types.payslips") %></li>
</ul>
<p class="text-base"><%= t(".file_format_note") %></p>

<%= strata_form_with(
      url: document_staging_path,
      method: :post) do |f| %>
  <%= f.hidden_field :activity_report_application_form_id,
        value: @activity_report_application_form.id %>
  <%= f.file_field :files, label: t(".choose_file_label"), multiple: true,
        accept: ".tiff,.tif,.pdf,.jpg,.jpeg,.png" %>
  <%= f.submit t(".save_and_continue"),
        data: { turbo_submits_with: t(".uploading") } %>
<% end %>
