<% content_for :title, t(".title") %>

<%= link_to t(".back"), activity_report_application_forms_path %>

<h1><%= t(".title") %></h1>

<%= link_to "Add activity", new_activity_report_application_form_activity_path(@activity_report_application_form), class: class_names("usa-button") %>

<% for month, activities in @activity_report_application_form.activities.group_by(&:month) do %>
  <h2><%= month.strftime("%B %Y") %></h2>
  <div class="grid-container">
    <% for activity in activities %>
      <%= render activity %>
    <% end %>
  </div>
<% end %>
