<% content_for :title, t(".title") %>

<% if flash[:notice].present? && @activity_report_application_form.submitted_at.present? %>
  <%= render "strata/shared/step_indicator", steps: %i[start select_periods add_activities review submitted], current_step: :submitted, translation_scope: "activity_report_application_forms.steps" %>
<% elsif @activity_report_application_form.submitted_at.blank? %>
  <%= render "strata/shared/step_indicator", steps: %i[start select_periods add_activities review submitted], current_step: :add_activities, translation_scope: "activity_report_application_forms.steps" %>
<% end %>

<%= link_to t(".back"), dashboard_path %>
<h1><%= t(".title") %></h1>
<% if policy(@activity_report_application_form).edit? %>
  <p class="usa-intro"><%= t(".intro.in_progress") %></p>
  <%= link_to "Add activity", new_activity_report_application_form_activity_path(@activity_report_application_form), class: class_names("usa-button") %>
  <%= link_to "Review and submit", review_activity_report_application_form_path(@activity_report_application_form), class: class_names("usa-button") %>
  <div class="usa-alert usa-alert--info margin-top-3" role="alert">
    <div class="usa-alert__body">
      <p class="usa-alert__heading"><%= t(".info_heading") %></p>
      <p class="usa-alert__text">
        <%= t(".info_text") %>
      </p>
    </div>
  </div>
<% elsif @certification_case&.activity_report_approval_status %>
  <p class="usa-intro <%= @certification_case.activity_report_approval_status == "approved" ? "text-green" : "text-red" %>"><%= t(".intro.#{@certification_case.activity_report_approval_status}") %></p>
<% else %>
  <p class="usa-intro"><%= t(".intro.submitted") %></p>
<% end %>
<%# Temporary spacing workaround %>
<div class="margin-top-6"></div>
<%= render @activity_report_application_form %>
