<% content_for :title, t(".title") %>
<%= render "strata/shared/step_indicator", steps: %i[start select_periods add_activities review submitted], current_step: :add_activities, translation_scope: "activity_report_application_forms.steps" %>
<%= link_to t(".back"), activity_report_application_form_path(@activity_report_application_form) %>
<h1><%= t(".title") %></h1>
<%= strata_form_with(url: new_activity_new_activity_report_application_form_activity_path(@activity_report_application_form), method: :get) do |f| %>
  <p><%= t(".category_help_text") %></p>
  <div class="usa-form__item">
    <%= f.radio_button :category, "employment", label: t(".employment_label"), tile: true %>
    <p class="usa-hint"><%= t(".employment_help_text") %></p>
  </div>
  <div class="usa-form__item">
    <%= f.radio_button :category, "education", label: t(".education_label"), tile: true %>
    <p class="usa-hint"><%= t(".education_help_text") %></p>
  </div>
  <div class="usa-form__item">
    <%= f.radio_button :category, "community_service", label: t(".community_service_label"), tile: true %>
    <p class="usa-hint"><%= t(".community_service_help_text") %></p>
  </div>

  <p><%= t(".reporting_method_help_text") %></p>
  <div class="usa-form__item">
    <%= f.radio_button :activity_type, "work_activity", label: t(".hours_label"), tile: true %>
  </div>
  <div class="usa-form__item">
    <%= f.radio_button :activity_type, "income_activity", label: t(".income_label"), tile: true %>
  </div>
  <%= f.submit t(".continue"), big: true %>
<% end %>