<% total_hours = hours_summary[:total_hours] %>
<% hours_needed = [target_hours - total_hours, 0].max %>
<% has_activities = ex_parte_activities.any? || member_activities.any? %>
<% compliance = local_assigns.fetch(:compliance_table_styles, false) %>
<% body_cell = compliance ? "border-0" : nil %>
<% value_cell = compliance ? "border-0 text-right bg-base-lightest" : "text-right" %>
<% th_value = compliance ? "text-right bg-base-lightest width-card" : "text-right" %>
<% table_class = compliance ? "usa-table width-full certification-case-compliance-table" : "usa-table usa-table--borderless width-full" %>

<% if has_activities %>
  <h3 class="<%= "margin-top-0 font-sans-lg" if compliance %>"><%= t(".title") %></h3>
  <table class="<%= table_class %>">
    <thead>
      <tr>
        <th scope="col"<% if compliance %> class="bg-white"<% end %>><%= t(".organization_name") %></th>
        <th scope="col"<% if compliance %> class="bg-white"<% end %>><%= t(".source") %></th>
        <th scope="col"<% if compliance %> class="bg-white"<% end %>><%= t(".activity_type") %></th>
        <th scope="col" class="<%= th_value %>"><%= t(".hours_reported") %></th>
      </tr>
    </thead>
    <tbody>
      <%# Ex parte activities (from state) %>
      <% ex_parte_activities.each do |activity| %>
        <% category_name = activity.category.titleize %>
        <tr>
          <td class="<%= body_cell %>"><%= category_name %> <%= t(".activity_label") %></td>
          <td class="<%= body_cell %>"><%= t(".source_ex_parte", state_name: ENV.fetch("STATE_NAME", "the State")) %></td>
          <td class="<%= body_cell %>"><%= category_name %></td>
          <td class="<%= value_cell %>"><%= number_with_precision(activity.hours, precision: 0) %></td>
        </tr>
      <% end %>

      <%# Member-reported activities %>
      <% member_activities.each do |activity| %>
        <tr>
          <td class="<%= body_cell %>"><%= activity.name %></td>
          <td class="<%= body_cell %>"><%= t(".source_self_reported") %></td>
          <td class="<%= body_cell %>"><%= activity.category.titleize %></td>
          <td class="<%= value_cell %>"><%= number_with_precision(activity.hours, precision: 0) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <% if compliance %>
        <tr>
          <td colspan="3" class="border-bottom-0 bg-white"><%= t(".total_reported") %></td>
          <td class="border-bottom-0 text-right bg-base-lightest"><%= number_with_precision(total_hours, precision: 0) %></td>
        </tr>
        <tr>
          <td colspan="3" class="border-top-0 bg-white"><%= t(".required") %></td>
          <td class="border-top-0 text-right bg-base-lightest"><%= target_hours %></td>
        </tr>
        <% if hours_needed > 0 %>
          <tr>
            <td colspan="3" class="bg-base-lightest"><strong><%= t(".additional_hours_needed") %></strong></td>
            <td class="text-right bg-base-lighter text-bold"><%= number_with_precision(hours_needed, precision: 0) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3"><%= t(".total_reported") %></td>
          <td class="text-right"><%= number_with_precision(total_hours, precision: 0) %></td>
        </tr>
        <tr>
          <td colspan="3"><%= t(".required") %></td>
          <td class="text-right"><%= target_hours %></td>
        </tr>
        <% if hours_needed > 0 %>
          <tr class="bg-base-lightest">
            <td colspan="3" class="text-bold"><%= t(".additional_hours_needed") %></td>
            <td class="text-right text-bold"><%= number_with_precision(hours_needed, precision: 0) %></td>
          </tr>
        <% end %>
      <% end %>
    </tfoot>
  </table>
<% elsif !local_assigns.fetch(:income_has_data, false) %>
  <p><%= t(".no_hours_reported") %></p>
<% end %>
