<%# 
  Renders the tasks section for a certification case
  Replicates the Strata tasks index table format
  TODO: Remove this partial and move this to the Strata SDK with optional columns 
  this way it can be used in other parts of the application like the staff tasks index
  an example of optional columns would be the task status and case id
%>
<% if tasks.any? %>
  <table class="usa-table usa-table--striped usa-table--sticky-header width-full">
    <thead>
      <tr>
        <th data-sortable scope="col" role="columnheader" aria-sort="descending">
          <%= t("strata.tasks.index.columns.col_due_date") %>
        </th>
        <th data-sortable scope="col" role="columnheader">
          <%= t("strata.tasks.index.columns.col_type") %>
        </th>
        <th data-sortable scope="col" role="columnheader">
          <%= t("strata.tasks.index.columns.col_case_id") %>
        </th>
        <th data-sortable scope="col" role="columnheader">
          <%= t("strata.tasks.index.columns.col_created_date") %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td data-sort-value="<%= time_since_epoch task.due_on %>">
            <%= local_en_us task.due_on %>
          </td>
          <td data-sort-value="<%= task.type %>">
            <%= link_to t("tasks.types.#{task.type.underscore}"), task_path(task.id) %>
          </td>
          <td data-sort-value="<%= task.case_id %>">
            <%= task.case_id %>
          </td>
          <td data-sort-value="<%= time_since_epoch task.created_at %>">
            <%= local_en_us task.created_at.to_date %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
<% else %>
  <%= render partial: 'strata/tasks/no_tasks_alert' %>
<% end %>

