<% content_for :title, t(".title", case_number: @certification&.case_number) %>

<%= render partial: "strata/shared/breadcrumbs", locals: { breadcrumbs: case_breadcrumbs(@member, @case) } %>

<div class="usa-header padding-bottom-3">
  <h1 class="font-sans-3xl text-semibold"><%= t(".title", case_number: @certification&.case_number) %></h1>
  <p>
    <span class="text-bold">Status:</span>
    <span class="usa-tag"><%= @case.status %></span>
  </p>
  <p>
    <span class="text-bold">Step:</span>
    <span class="usa-tag"><%= @case.business_process_instance.current_step || "Missing" %></span>
  </p>
  <p>
    <span class="text-bold">Assigned to:</span>
    <span>Caseworker</span>
  </p>
</div>
<div class="border-top-1px border-base-lighter padding-y-3">
  <h2 class="font-sans-xl text-semibold">Certification Details</h2>
  <p>
    <span class="text-bold">Member name:</span>
    <span><%= @certification&.member_email %></span>
  </p>
  <p>
    <span class="text-bold">Certification date:</span>
    <span><%= @certification.certification_requirements&.dig("certification_date") %></span>
  </p>
</div>

<div class="padding-y-3">
  <h2 class="font-sans-xl text-semibold">Tasks</h2>
  <ul>
    <% @case.tasks.each do |task| %>  
      <li>
        <%= link_to task.class.name.humanize, task_path(task) %>
      </li>
    <% end %>
  </ul>
  <% if @case.tasks.empty? %>
    <p>No tasks</p>
  <% end %>
</div>

<div class="padding-y-3">
  <h2 class="font-sans-xl text-semibold">Ex parte data</h2>
  <p>None</p>
</div>
