<% content_for :title, t(".title") %>
<% content_for :case_details do %>
  <h2 id="case-details-heading" class="usa-heading-lg margin-bottom-3"><%= t(".title") %></h2>
  <% if @certification.present? %>
    <dl class="grid-row grid-gap margin-0">
      <div class="grid-col-12 tablet:grid-col-6">
        <div class="margin-bottom-2">
          <dt class="text-bold font-sans-sm text-base-dark">Assigned Worker</dt>
          <dd class="margin-left-0 margin-top-1 font-sans-md">William Worker</dd>
        </div>
      </div>
      <div class="grid-col-12 tablet:grid-col-6">
        <div class="margin-bottom-2">
          <dt class="text-bold font-sans-sm text-base-dark">Created</dt>
          <dd class="margin-left-0 margin-top-1 font-sans-md">
            <time datetime="<%= @case.created_at.strftime("%Y-%m-%d %H:%M:%S %Z") %>">
              <%= @case.created_at.strftime("%m/%d/%Y %I:%M:%S %p %Z") %>
            </time>
          </dd>
        </div>
        <div class="margin-bottom-2">
          <dt class="text-bold font-sans-sm text-base-dark">Last Updated</dt>
          <dd class="margin-left-0 margin-top-1 font-sans-md">
            <time datetime="<%= @case.updated_at.strftime("%Y-%m-%d %H:%M:%S %Z") %>">
              <%= @case.updated_at.strftime("%m/%d/%Y %I:%M:%S %p %Z") %>
            </time>
          </dd>
        </div>
      </div>
    </dl>
  <% end %>
<% end %>
<%= render "case_layout" %>
