<% content_for :title, t(".title", case_number: @certification&.case_number) %>

<%= render partial: "strata/shared/breadcrumbs", locals: { breadcrumbs: case_breadcrumbs(@member, @case) } %>

<div class="usa-header padding-bottom-3">
  <h1 class="font-sans-3xl text-semibold"><%= t(".title", case_number: @certification&.case_number) %></h1>
  <p>
    <span class="text-bold">Status:</span>
    <span class="usa-tag"><%= @case.status %></span>
  </p>
  <p>
    <span class="text-bold">Step:</span>
    <span class="usa-tag"><%= @case.business_process_instance.current_step || "Missing" %></span>
  </p>
  <p>
    <span class="text-bold">Assigned to:</span>
    <span>Caseworker</span>
  </p>
</div>

<div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
  <h4 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="true"
      aria-controls="certification-details"
    >
      Certification Details
    </button>
  </h4>
  <div id="certification-details" class="usa-accordion__content usa-prose">
    <p>
      <span class="text-bold">Member name:</span>
      <span><%= @certification&.member_email %></span>
    </p>
    <p>
      <span class="text-bold">Certification date:</span>
      <span>
        <%=
          # TODO: We should make certification_requirements a real model rather than just a JSON blob
          # so we can avoid needing to parse the date string in the view
          Date.parse(@certification.certification_requirements&.dig("certification_date")).strftime("%m/%d/%Y")
        %>
      </span>
    </p>
  </div>
</div>

<div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
  <h4 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="tasks"
    >
      Tasks
    </button>
  </h4>
  <div id="tasks" class="usa-accordion__content usa-prose">
    <ul>
      <% @case.tasks.each do |task| %>  
        <li>
          <%= link_to task.class.name.humanize, task_path(task) %>
        </li>
      <% end %>
    </ul>
    <% if @case.tasks.empty? %>
      <p>No tasks</p>
    <% end %>
  </div>
</div>

<div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
  <h4 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="ex-parte-data"
    >
      Ex parte data
    </button>
  </h4>
  <div id="ex-parte-data" class="usa-accordion__content usa-prose">
    <p>None</p>
  </div>
</div>
