<% content_for :title, t(".title") %>

<h1>
  <%= t(".title") %>  
</h1>

<p class="usa-intro">
  <%= t(".intro.#{exemption_dashboard_intro_key(@exemption_case)}") %>
</p>

<% case exemption_dashboard_state(@exemption_application_form, @exemption_case) %>
<% when :no_form %>
  <div class="margin-bottom-4">
    <p class="usa-alert__text"><strong>Exemption Status:</strong></p>
    <p><%= t(".status.no_current_exemption") %></p>
  </div>
  <%= link_to t(".buttons.new_exemption"), new_exemption_application_form_path(certification_id: @certification&.id), class: class_names("usa-button") %>
<% when :in_progress %>
  <div class="margin-bottom-4">
    <p class="usa-alert__text"><strong>Exemption Status:</strong></p>
    <p><%= t(".status.in_progress") %></p>
  </div>
  <%= link_to t(".buttons.continue_exemption"), review_exemption_application_form_path(@exemption_application_form), class: class_names("usa-button") %>
<% when :case_decided %>
  <div class="margin-bottom-4"></div>
  <%= link_to t(".buttons.view_exemption"), exemption_application_form_path(@exemption_application_form), class: class_names("usa-button") %>
<% when :submitted %>
  <div class="margin-bottom-4">
    <p class="usa-alert__text"><strong>Exemption Status:</strong></p>
    <p><%= t(".status.submitted") %></p>
  </div>
  <%= link_to t(".buttons.view_exemption"), exemption_application_form_path(@exemption_application_form), class: class_names("usa-button") %>
<% end %>
