<% if !application_exists? %>
<section class="usa-section usa-section--light padding-y-3 margin-bottom-4" aria-label="Get started">
  <div class="grid-container">
    <div class="grid-row flex-column tablet:flex-row gap-4">
      <div class="usa-hero__callout grid-col">
        <h2 class="usa-hero__heading font-heading-xl">
          <%# TODO: handle this formatting stuff in the content so can pass the date %>
          <%# TODO: also '%b %d, %Y' doesn't correspond to a defined date format for locales, most similar to :short, but that doesn't have the year %>
          <span class="usa-hero__heading--alt"><%= t(".get_started.header") %></span> <%= certification.certification_requirements.due_date&.strftime('%b %d, %Y') %>
        </h2>
        <p class="text-base-lightest">
         <%= t(".get_started.prompt") %>
        </p>
        <%= link_to t(".get_started.button"), exemption_screener_path(certification_case_id: certification_case.id), class: "usa-button" %>
      </div>

      <div class="grid-col display-flex flex-align-center">
        <p class="font-serif-md">
          <%= t(".get_started.info") %>
        </p>
      </div>
    </div>
  </div>
</section>
<% end %>

<div class="grid-container">
  <div class="grid-row grid-gap">
    <h2 class="font-heading-xl margin-bottom-4"><%= t(".activities.header") %></h2>

    <ul class="usa-card-group">
      <li class="usa-card tablet:grid-col-6">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading"><%= t(".activity_report.title") %></h2>
          </div>
          <div class="usa-card__body">
            <p class="font-serif-md">
              <%= t(".activity_report.intro") %>
            </p>
          </div>
          <div class="usa-card__footer">
            <% if activity_report&.in_progress? %>
              <p class="font-serif-md">
                <strong><%= t(".activity_report.in_progress_status") %></strong><br />
                <%= t(".activity_report.in_progress_message") %>
              </p>
              <%= link_to t(".activity_report.continue_report_button"), activity_report_application_form_path(activity_report), class: "usa-button" %><br />
            <% else %>
              <%= link_to t(".activity_report.report_activities_button"), new_activity_report_application_form_path(certification_case_id: certification_case&.id), class: "usa-button usa-button--outline" %><br />
            <% end %>
          </div>
        </div>
      </li>
      <li class="usa-card tablet:grid-col-6">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading"><%= t(".exemption_request.title") %></h2>
          </div>
          <div class="usa-card__body">
            <p class="font-serif-md">
              <%= t(".exemption_request.intro") %>
            </p>
          </div>
          <div class="usa-card__footer">
            <% if exemption_application&.in_progress? %>
              <p class="font-serif-md">
                <strong><%= t(".exemption_request.in_progress_status") %></strong><br />
                <%= t(".exemption_request.in_progress_message") %>
              </p>
              <%= link_to t(".exemption_request.continue_request_button"), exemption_application_form_path(exemption_application), class: "usa-button" %>
            <% else %>
              <%= link_to t(".exemption_request.request_exemption_button"), new_exemption_application_form_path(certification_case_id: certification_case&.id), class: "usa-button usa-button--outline" %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
