<ul class="usa-card-group">
  <li class="usa-card tablet:grid-col-6">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading"><%= t(".activity_report.title") %></h2>
      </div>
      <div class="usa-card__body">
        <p class="font-serif-md">
          <%= t(".activity_report.intro") %>
        </p>
      </div>
      <div class="usa-card__footer">
        <% if activity_report&.in_progress? %>
          <p class="font-serif-md">
            <strong><%= t(".activity_report.in_progress_status") %></strong><br />
            <%= t(".activity_report.in_progress_message") %>
          </p>
          <%= link_to t(".activity_report.continue_report_button"), activity_report_application_form_path(activity_report), class: "usa-button" %><br />
        <% else %>
          <%= link_to t(".activity_report.report_activities_button"), new_activity_report_application_form_path(certification_case_id: @certification_case.id), class: "usa-button" %><br />
        <% end %>
      </div>
    </div>
  </li>
  <li class="usa-card tablet:grid-col-6">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading"><%= t(".exemption_request.title") %></h2>
      </div>
      <div class="usa-card__body">
        <p class="font-serif-md">
          <%= t(".exemption_request.intro") %>
        </p>
      </div>
      <div class="usa-card__footer">
        <% if exemption_application&.in_progress? %>
          <p class="font-serif-md">
            <strong><%= t(".exemption_request.in_progress_status") %></strong><br />
            <%= t(".exemption_request.in_progress_message") %>
          </p>
          <%= link_to t(".exemption_request.continue_request_button"), exemption_application_form_path(exemption_application), class: "usa-button" %>
        <% else %>
          <%= link_to t(".exemption_request.request_exemption_button"), new_exemption_application_form_path(certification_case_id: @certification_case.id), class: "usa-button usa-button--outline" %>
        <% end %>
      </div>
    </div>
  </li>
</ul>
