<% content_for :title, "Certification Request" %>

<h1><%= "Certification Request" %></h1>

<%= us_form_with model: @form, url: demo_certifications_path do |f| %>
  <%= f.text_field :beneficiary_email %>
  <%= f.text_field :case_number, label: "Medicaid case number" %>

  <!-- TODO: doesn't do anything -->
  <%#= f.select :certification_type, ["New application", "Recertification"] %>
  <%= f.date_picker :certification_date %>

  <%= f.select :lookback_period, Demo::Certifications::CreateForm::LOOKBACK_PERIOD_OPTIONS %>
  <!-- TODO: doesn't do anything -->
  <%#= f.select :recertification_frequency, Demo::Certifications::CreateForm::RECERTIFICATION_FREQUENCY_OPTIONS, selected: "6" %>
  <%= f.select :number_of_months_to_certify, Demo::Certifications::CreateForm::NUMBER_OF_MONTHS_TO_CERTIFY_OPTIONS %>
  <%= f.select :due_period_days, Demo::Certifications::CreateForm::DUE_PERIOD_OPTIONS, selected: "30" %>

  <%= f.select :ex_parte_scenario, ["No data", "Partially met work hours requirement", "Fully met work hours requirement"] %>

  <%= f.submit "Request Certification" %>
<% end %>
