<% content_for :title, t("certifications.demo_create.title") %>

<h1><%= t("certifications.demo_create.title") %></h1>

<%= us_form_with model: @form, url: demo_certifications_path do |f| %>
  <%= f.text_field :beneficiary_email %>
  <%= f.text_field :case_number, label: t("certifications.case_number") %>

  <%= f.date_picker :certification_date %>

  <%= f.select :lookback_period, Demo::Certifications::CreateForm::LOOKBACK_PERIOD_OPTIONS.map { |i| [ t("certifications.demo_create.lookback_period_options.#{i}"), i ] } %>
  <%= f.select :number_of_months_to_certify, Demo::Certifications::CreateForm::NUMBER_OF_MONTHS_TO_CERTIFY_OPTIONS.map { |i| [ t("certifications.demo_create.number_of_months_to_certify_options.#{i}"), i ] } %>
  <%= f.select :due_period_days, Demo::Certifications::CreateForm::DUE_PERIOD_OPTIONS.map { |i| [ t("certifications.demo_create.due_period_options.#{i}"), i ] } %>

  <%= f.select :ex_parte_scenario, Demo::Certifications::CreateForm::EX_PARTE_SCENARIO_OPTIONS %>

  <%= f.submit t("certifications.demo_create.submit") %>
<% end %>
