<% content_for :title, t(".title") %>

<div class="grid-row grid-gap">
  <div class="desktop:grid-col-8">
    <h1 class="text-no-wrap"><%= t(".title") %></h1>
    <p><%= t(".intro") %></p>

    <section id="demo-overview" class="margin-top-4">
      <h2><%= t(".demo_overview.title") %></h2>
      <code><%= demo_path %></code>
      <p><%= t(".demo_overview.description") %></p>
    </section>

    <section id="creating-certification-request" class="margin-top-4">
      <h2><%= t(".creating_certification_request.title") %></h2>
      <code><%= new_demo_certification_path %></code>
      <p><%= t(".creating_certification_request.description") %></p>
      <p><%= t(".creating_certification_request.workflow_intro") %></p>
      <ul>
        <li><%= t(".creating_certification_request.step_1") %></li>
        <li><%= t(".creating_certification_request.step_2") %></li>
        <li><%= t(".creating_certification_request.step_3") %></li>
        <li><%= t(".creating_certification_request.step_4") %></li>
      </ul>
      <p><em><%= t(".creating_certification_request.note") %></em></p>
    </section>

    <section id="member-dashboard" class="margin-top-4">
      <h2><%= t(".member_dashboard.title") %></h2>
      <code><%= dashboard_path %></code>
      <p><%= t(".member_dashboard.description") %></p>
      <p><em><%= t(".member_dashboard.note") %></em></p>
    </section>

    <section id="staff-portal" class="margin-top-4">
      <h2><%= t(".staff_portal.title") %></h2>
      <code><%= staff_path %></code>
      <p><%= t(".staff_portal.description") %></p>
    </section>
  </div>

  <aside class="desktop:grid-col-4">
    <div class="position-sticky top-0 padding-y-2">
      <nav class="usa-in-page-nav"></nav>
    </div>
  </aside>
</div>
