<div class="margin-bottom-5">
  <h1 class="margin-top-0 margin-bottom-1">Organization Settings</h1>
  <p class="margin-top-0">
    View and edit staff members and their roles, regions, and programs.
  </p>
</div>

<div class="margin-bottom-3">
  <h2 class="margin-top-0 margin-bottom-1">Manage Team Members</h2>
  <p class="margin-top-0">
    Supervisors are responsible for managing the organization and its users.
    Caseworkers are responsible for reviewing and processing applications for Medicaid.
    Members are able to view and edit their own information.
  </p>
</div>

<% if @users.any? %>
  <table class="usa-table usa-table--striped width-full">
    <thead>
      <tr>
        <th scope="col" data-sortable>Last name</th>
        <th scope="col" data-sortable>First name</th>
        <th scope="col" data-sortable>Email</th>
        <th scope="col" data-sortable>Role</th>
        <th scope="col" data-sortable>Program</th>
        <th scope="col" data-sortable>Region</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= user.program %></td>
          <td><%= user.region %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">No users found.</p>
    </div>
  </div>
<% end %>

