<div class="margin-bottom-5">
  <h1 class="margin-top-0 margin-bottom-1"><%= t(".title") %></h1>
  <p class="margin-top-0">
    <%= t(".description") %>
  </p>
</div>

<div class="margin-bottom-3">
  <h2 class="margin-top-0 margin-bottom-1"><%= t(".manage_team_members") %></h2>
  <p class="margin-top-0">
    <%= t(".manage_team_members_description") %>
  </p>
</div>

<table class="usa-table usa-table--striped width-full">
  <thead>
    <tr>
      <th scope="col" data-sortable><%= t(".table.full_name") %></th>
      <th scope="col" data-sortable><%= t(".table.email") %></th>
      <th scope="col" data-sortable><%= t(".table.role") %></th>
      <th scope="col" data-sortable><%= t(".table.program") %></th>
      <th scope="col" data-sortable><%= t(".table.region") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= t(".table.program_medicaid") %></td>
        <td><%= user.region %></td>
      </tr>
    <% end %>
  </tbody>
</table>

