<%# Read-only prefill form showing an activity's fields with attribution labels.
     Rendered once per activity (hidden by default, shown by Stimulus controller).
     Uses strata_form_with for USWDS form components with all fields disabled. %>
<% icon_info = evidence_source_icon(activity.evidence_source) %>
<% attribution_label = icon_info[:label] %>
<% field_classes = attribution_field_classes(activity.evidence_source) %>

<div class="padding-2">
  <button type="button"
          class="usa-button usa-button--unstyled margin-bottom-4"
          data-action="document-preview#close">
    <%= uswds_icon("arrow_back", css_class: "text-primary margin-right-05", style: "vertical-align: middle;") %>
    <%= t("details.review_activity_report_task.document_preview.back_to_table") %>
  </button>
  <h3 class="margin-top-0 margin-bottom-2"><%= t("details.review_activity_report_task.document_preview.prefill_heading") %></h3>

  <%= strata_form_with(url: "#", method: :get) do |f| %>
    <%# Activity type %>
    <%= render layout: "tasks/details/attributed_field", locals: { field_classes: field_classes, icon_info: icon_info, attribution_label: attribution_label } do %>
      <%= f.fieldset t("activities.edit.doc_ai_review.activity_type_label") do %>
        <%= f.radio_button :category, activity.category,
            label: t("activities.form.#{activity.category}_label"),
            checked: true,
            disabled: true,
            tile: false %>
      <% end %>
    <% end %>

    <%# Reporting method %>
    <%= render layout: "tasks/details/attributed_field", locals: { field_classes: field_classes, icon_info: icon_info, attribution_label: attribution_label } do %>
      <% if activity.is_a?(IncomeActivity) %>
        <%= f.fieldset t("activities.edit.doc_ai_review.reporting_method_label") do %>
          <%= f.radio_button :reporting_method, "income",
              label: t("activities.edit.doc_ai_review.report_income_label"),
              checked: true,
              disabled: true,
              tile: false %>
        <% end %>
      <% else %>
        <%= f.fieldset t("activities.edit.doc_ai_review.reporting_method_label") do %>
          <%= f.radio_button :reporting_method, "hours",
              label: t("activities.form.hours_label"),
              checked: true,
              disabled: true,
              tile: false %>
        <% end %>
      <% end %>
    <% end %>

    <%# Organization name %>
    <%= render layout: "tasks/details/attributed_field", locals: { field_classes: field_classes, icon_info: icon_info, attribution_label: attribution_label } do %>
      <%= f.text_field :name,
          label: t("activities.form.name"),
          value: activity.name,
          disabled: true %>
    <% end %>

    <%# Month %>
    <%= render layout: "tasks/details/attributed_field", locals: { field_classes: field_classes, icon_info: icon_info, attribution_label: attribution_label } do %>
      <%= f.select :month,
          [[activity.month&.strftime("%B %Y"), activity.month]],
          { selected: activity.month },
          { disabled: true, label: t("details.review_activity_report_task.document_preview.month_label") } %>
    <% end %>

    <%# Hours or Income %>
    <%= render layout: "tasks/details/attributed_field", locals: { field_classes: field_classes, icon_info: icon_info, attribution_label: attribution_label } do %>
      <% if activity.is_a?(IncomeActivity) %>
        <%= f.text_field :income,
            label: t("activities.form.income_label"),
            value: number_to_currency(activity.income&.dollar_amount, precision: 0),
            disabled: true %>
      <% else %>
        <%= f.text_field :hours,
            label: t("activities.form.hours_label"),
            value: activity.hours,
            disabled: true %>
      <% end %>
    <% end %>
  <% end %>
</div>
