<%= render partial: 'application/flash' %>
<h2><%= t(".intro") %></h2>
<p><%= t(".instructions") %></p>
<%= render partial: 'activity_report_application_forms/staff_activity_report', locals: { activity_report: application_form } %>
<% if task.pending? %>
  <h2><%= t(".activity_report_decision.heading") %></h2>
  <%= strata_form_with(model: task) do |f| %>
    <%= f.radio_button :activity_report_decision, "yes", { label: t(".activity_report_decision.options.yes_acceptable"), tile: false } %>
    <%= f.radio_button :activity_report_decision, "no-additional-info", { label: t(".activity_report_decision.options.no_additional_info"), tile: false } %>
    <%= f.radio_button :activity_report_decision, "no-not-acceptable", { label: t(".activity_report_decision.options.no_not_acceptable"), tile: false } %>
    <%= f.submit t(".activity_report_decision.submit_button") %>
  <% end %>
<% end %>
