<%# Typical content-only layout for all pages in the application %>
<%= content_for :main_content do %>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <%= yield :before_content_col %>
      <div class="grid-col-12 <%= yield :content_col_class %>" id="content">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <%= yield :after_content_col %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application_base' %>
