<h1><%= t("members.search.title") %></h1>

<%= form_with url: search_members_path, method: :post, class: "usa-form" do |form| %>
  <div class="usa-form-group">
    <%= form.label :email, t("members.search.by_email"), class: "usa-label" %>
    <%= form.text_field :email, value: params[:email], class: "usa-input" %>
  </div>
  <%= form.submit t("members.search.search"), class: "usa-button" %>
<% end %>

<% if @members.any? %>
  <h2><%= t("members.search.results") %></h2>
  <table class="usa-table usa-table--borderless width-full">
    <thead>
      <tr>
        <th><%= t("members.search.member_id") %></th>
        <th><%= t("members.search.email") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'member_row', collection: @members %>
    </tbody>
  </table>
<% end %>
