<div class="usa-header padding-bottom-3">
  <h1><%= @member.name&.full_name %></h1>
  <p>
    Member ID: <%= @member.member_id %>
  </p>
  <p>
    Email: <%= @member.email %>
  </p>
</div>
<div class="usa-section">
  <h2><%= t("members.show.certification_cases") %></h2>
  <table class="usa-table usa-table--borderless width-full">
    <thead>
      <tr>
        <th><%= t("members.show.case_number") %></th>
        <th><%= t("members.show.certification_date") %></th>
        <th><%= t("members.show.status") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'certification_case_row', collection: @certification_cases %>
    </tbody>
  </table>
</div>
