<% content_for :title, t("certification_requests.demo_create.title") %>

<h1><%= t("certification_requests.demo_create.title") %></h1>

<% tabs = [
  { name: "Generic", path: new_demo_certification_request_path, active: !@form.certification_type },
] + Demo::CertificationRequests::CreateForm::CERTIFICATION_TYPE_OPTIONS.map { |ct| { name: t("certification_requests.demo_create.certification_type_options.#{ct}"), path: new_demo_certification_request_path(certification_type: ct), active: @form.certification_type == ct } }
%>

<nav class="display-flex border-bottom-1px border-base-light">
  <% tabs.each do |tab| %>
    <%= render partial: "strata/cases/nav_tab", locals: tab %>
  <% end %>
</nav>

<%= us_form_with model: @form, url: demo_certification_requests_path do |f| %>
  <%= f.text_field :beneficiary_email %>
  <%= f.text_field :case_number, label: t("certification_requests.case_number") %>

  <%= f.hidden_field :certification_type, value: @form.certification_type %>

  <%= f.date_picker :certification_date %>

  <%= f.select :lookback_period, Demo::CertificationRequests::CreateForm::LOOKBACK_PERIOD_OPTIONS.map { |i| [ t("certification_requests.demo_create.lookback_period_options.#{i}"), i ] }, {}, disabled: @form.locked_type_params? %>
  <%= f.select :number_of_months_to_certify, Demo::CertificationRequests::CreateForm::NUMBER_OF_MONTHS_TO_CERTIFY_OPTIONS.map { |i| [ t("certification_requests.demo_create.number_of_months_to_certify_options.#{i}"), i ] }, {}, disabled: @form.locked_type_params? %>
  <%= f.select :due_period_days, Demo::CertificationRequests::CreateForm::DUE_PERIOD_OPTIONS.map { |i| [ t("certification_requests.demo_create.due_period_options.#{i}"), i ] }, {}, disabled: @form.locked_type_params? %>

  <%= f.select :ex_parte_scenario, Demo::CertificationRequests::CreateForm::EX_PARTE_SCENARIO_OPTIONS %>

  <%= f.submit t("certification_requests.demo_create.submit") %>
<% end %>
