<h1><%= t('.title') %></h1>

<h2><%= t('.instructions_heading') %></h2>
<p class="font-serif-md"><%= t('.instructions_html') %></p>

<div class="usa-alert usa-alert--info margin-top-3" role="status">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      <%= t('.caseworker_message_placeholder') %>
      <p class="margin-top-2"></p>
      <%= t('.due_by', due_date: '<date due>') %>
    </p>
  </div>
</div>

<%= strata_form_with model: @information_request, method: :patch, builder: UswdsFormBuilder do |f| %>
  <%= f.file_field :supporting_documents, label: t('.upload_documents'), multiple: true %>
  <%= f.text_area :member_comment, label: t('.comments_label') %>
  <%= f.submit t('.submit_button'), big: true %>
<% end %>

