<div class="usa-header padding-bottom-3">
  <h1 class="font-sans-3xl text-semibold"><%= t(".title") %></h1>
  <p>
  <span class="text-bold margin-right-1"><%= t(".staff_comment") %></span>
    <span><%= @information_request.staff_comment %></span>
  </p>
  <p>
  <span class="text-bold margin-right-1"><%= t(".member_comment") %></span>
    <span><%= @information_request.member_comment || "N/A"%></span>
  </p>
  <p>
    <span class="text-bold margin-right-1"><%= t(".due_date") %></span>
    <span><%= @information_request.due_date.strftime("%m/%d/%Y") %></span>
  </p>
  <%= render partial: 'application/supporting_documents', locals: { model: @information_request } %>
</div>
