<h2 id="case-details-heading" class="usa-heading-lg margin-bottom-3">Case Details</h2>
<dl class="grid-row grid-gap margin-0">
  <div class="grid-col-12 tablet:grid-col-6">
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Case ID</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-sm"><%= kase.id %></dd>
    </div>
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Reporting Period</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-sm">
        <%= @activity_report_application_form.reporting_period.strftime("%B, %Y") %>
      </dd>
    </div>
  </div>
  <div class="grid-col-12 tablet:grid-col-6">
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Assigned Worker</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-md">William Worker</dd>
    </div>
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Hours</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-md"><%= number_with_precision(@activity_report_application_form.minutes / 60.0, precision: 2, strip_insignificant_zeros: true) %></dd>
    </div>
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Last Updated</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-md">
        <time datetime="<%= kase.updated_at.strftime("%Y-%m-%d") %>">
          <%= kase.updated_at.strftime("%m/%d/%Y") %>
        </time>
      </dd>
    </div>
  </div>
</dl>