<%
    birthday = Faker::Date.birthday(min_age: 18, max_age: 65)
    birthday_formatted = birthday.strftime("%B %e, %Y")
    years_old = (Date.today - birthday).to_i / 365
%>
<h2 id="case-details-heading" class="usa-heading-lg margin-bottom-3">Case Details</h2>
<dl class="grid-row grid-gap margin-0">
  <div class="grid-col-12 tablet:grid-col-6">
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Case ID</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-md"><%= kase.id %></dd>
    </div>
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Date of Birth</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-sm">
        <%= birthday_formatted %> (<%= years_old %> years old)
      </dd>
    </div>
  </div>
  <div class="grid-col-12 tablet:grid-col-6">
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Assigned Worker</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-md"><%= Faker::Name.name %></dd>
    </div>
    <div class="margin-bottom-2">
      <dt class="text-bold font-sans-sm text-base-dark">Last Updated</dt>
      <dd class="margin-left-0 margin-top-1 font-sans-md">
        <time datetime="<%= kase.updated_at.strftime("%Y-%m-%d") %>">
          <%= kase.updated_at.strftime("%m/%d/%Y") %>
        </time>
      </dd>
    </div>
  </div>
</dl>