<p class="text-bold margin-bottom-1"><%= t("document_staging.results.selected_files") %></p>

<div data-controller="file-list">
  <% staged_documents.each do |doc| %>
    <% is_valid = doc.validated? %>
    <div data-file-list-target="card"
         class="border-1px radius-md padding-2 margin-bottom-1 display-flex flex-align-center flex-justify <%= is_valid ? 'border-base-light' : 'border-error' %>">
      <div class="display-flex flex-align-center">
        <svg class="usa-icon usa-icon--size-3 text-primary margin-right-1" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="<%= asset_path('@uswds/uswds/dist/img/sprite.svg') %>#attach_file"></use>
        </svg>
        <span class="<%= is_valid ? 'text-primary' : 'text-error' %>"><%= doc.file.filename %></span>
      </div>

      <div class="display-flex flex-align-center">
        <% unless is_valid %>
          <span class="usa-tag usa-tag--big bg-error-dark margin-right-1"><%= doc.status.humanize %></span>
        <% end %>
        <span class="border-left-1px border-base-light padding-left-1">
          <button type="button"
                  class="usa-button usa-button--unstyled"
                  data-action="file-list#remove"
                  aria-label="<%= t("document_staging.results.remove_file") %>: <%= doc.file.filename %>">
            <svg class="usa-icon usa-icon--size-3 text-primary" aria-hidden="true" focusable="false" role="img">
              <use xlink:href="<%= asset_path('@uswds/uswds/dist/img/sprite.svg') %>#delete"></use>
            </svg>
          </button>
        </span>
      </div>

      <% if is_valid %>
        <input type="hidden" name="staged_document_signed_ids[]" value="<%= doc.file.blob.signed_id %>" form="save-form">
      <% end %>
      <input type="hidden" name="existing_ids[]" value="<%= doc.id %>" form="upload-more-form">
    </div>
  <% end %>
</div>
