<p class="text-bold margin-bottom-1"><%= t("document_staging.results.selected_files") %></p>

<div data-controller="file-list">
  <% staged_documents.each do |doc| %>
    <% is_valid = doc.validated? %>
    <div data-file-list-target="card"
         data-id="<%= doc.id %>"
         class="border-2px radius-sm padding-05 margin-bottom-1 display-flex flex-align-center flex-justify-between <%= is_valid ? 'border-base-darkest' : 'border-error' %>"
         style="max-width: 596px;">
      <div class="display-flex flex-align-center padding-left-1 padding-right-1">
        <span class="text-bold <%= is_valid ? 'text-primary' : 'text-error' %>"><%= doc.file.filename %></span>
      </div>

      <div class="display-flex flex-align-center">
        <% unless is_valid %>
          <span class="usa-tag bg-error-dark padding-left-1 margin-right-2"><%= doc.status.humanize %></span>
        <% end %>
        <span class="border-left-1px border-base-lighter padding-x-105">
          <button type="button"
                  class="usa-button usa-button--unstyled"
                  data-action="file-list#remove"
                  aria-label="<%= t("document_staging.results.remove_file") %>: <%= doc.file.filename %>">
            <%= uswds_icon("delete", css_class: "text-primary") %>
          </button>
        </span>
      </div>

      <% if is_valid %>
        <input type="hidden" name="staged_document_ids[]" value="<%= doc.id %>" form="save-form">
      <% end %>
      <input type="hidden" name="existing_ids[]" value="<%= doc.id %>" form="upload-more-form">
    </div>
  <% end %>
</div>
