<%= content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<% if @error %>
  <div class="usa-alert usa-alert--error margin-bottom-3" role="alert">
    <div class="usa-alert__body">
      <p class="usa-alert__text"><%= @error %></p>
    </div>
  </div>
<% end %>

<p>
  <%= uswds_icon("arrow_back", css_class: "text-primary margin-right-05", style: "vertical-align: middle;") %>
  <%= link_to t(".back_to_upload"), dashboard_path, class: "usa-link" %>
</p>
