<%= content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<% if @error %>
  <%= render AlertComponent.new(type: "error", message: @error, classes: "margin-bottom-3") %>
<% end %>

<p>
  <%= uswds_icon("arrow_back", css_class: "text-primary margin-right-05", style: "vertical-align: middle;") %>
  <%= link_to t(".back_to_upload"), dashboard_path, class: "usa-link" %>
</p>
