<%= content_for :title, t(".title") %>

<%= render "strata/shared/step_indicator",
     steps: %i[start select_periods add_activities review submitted],
     current_step: :add_activities,
     translation_scope: "activity_report_application_forms.steps" %>

<p>
  <%= uswds_icon("arrow_back", css_class: "text-primary margin-right-05", style: "vertical-align: middle;") %>
  <%= link_to t(".back_link"), dashboard_path, class: "usa-link" %>
</p>

<h1><%= t(".title") %></h1>
<p class="text-base"><%= t(".file_format_note") %></p>

<%= turbo_stream_from "document_staging_batch_#{@batch_key}" unless @all_complete %>
<%= turbo_frame_tag "document_staging_status" do %>
  <% if @all_complete %>
    <%= render partial: "results", locals: { staged_documents: @staged_documents } %>
  <% else %>
    <%= render partial: "processing_status", locals: { staged_documents: @staged_documents } %>
  <% end %>
<% end %>

<%= strata_form_with(url: document_staging_path, method: :post,
      id: "upload-more-form",
      data: { turbo_frame: "_top" }) do |f| %>
  <%= f.hidden_field :activity_report_application_form_id, value: @activity_report_application_form_id %>
  <%= f.file_field :files, label: t(".choose_file_label"), multiple: true,
        accept: ".tiff,.tif,.pdf,.jpg,.jpeg,.png" %>
  <%= f.submit t(".upload_more_button") %>
<% end %>

<div class="display-flex flex-align-center margin-top-3">
  <%= strata_form_with(url: accept_doc_ai_activity_report_application_form_path(@activity_report_application_form_id),
        method: :post,
        id: "save-form") do |f| %>
    <%= f.submit t(".save_and_continue") %>
  <% end %>
</div>
