<% content_for :title, t(".title") %>

<div class="grid-container">
  <div class="border-bottom padding-bottom-1 margin-bottom-4">
    <%= link_to(dashboard_path, class: "usa-link") do %>
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="<%= asset_path '@uswds/uswds/dist/img/sprite.svg' %>#navigate_before"></use>
      </svg>
      <%= t(".back_to_dashboard") %>
    <% end %>
  </div>

  <main id="main-content">
    <h1 class="font-heading-2xl margin-bottom-2">
      <%= t(".heading") %>
    </h1>

    <p class="font-serif-md margin-bottom-4">
      <%= t(".description") %>
    </p>

    <%= link_to t(".buttons.start"),
      exemption_screener_question_path(
        exemption_type: @first_exemption_type,
        certification_case_id: @certification_case.id
      ),
      class: "usa-button" %>
  </main>
</div>
