<% content_for :title, t(".title") %>

<%= render "step_indicator", current_step: @current_step %>

<div class="exemption-screener">
  <h1 class="margin-bottom-4">
    <%= t(".heading") %>
  </h1>

  <p class="margin-bottom-4">
    <strong><%= t(".description") %></strong>
  </p>
  <p class="margin-bottom-4">
    <strong><%= t(".time_to_complete") %></strong>
  </p>
</div>

<%= link_to t(".buttons.start"),
  exemption_screener_question_path(
    exemption_type: @first_exemption_type,
    certification_case_id: @certification_case.id
  ),
  class: "usa-button" %>
