<% content_for :title, t(".title") %>

<div class="border-bottom padding-bottom-1">
<%= link_to(dashboard_path) do %>
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="<%= asset_path '@uswds/uswds/dist/img/sprite.svg' %>#navigate_before"></use>
  </svg>
  <%= t(".back") %>
<% end %>
</div>

<h1 class="font-sans-lg text-base-dark"><%= t(".title") %></h1>

<h2 class="font-heading-2xl"><%= t(".header") %></h2>
<p><%= t(".intro") %></p>

<p class="font-serif-md"><%= t(".prompt.start", reporting_period_start_date: l(@certification.certification_requirements.continuous_lookback_period.start)) %></p>

<ul class="usa-icon-list usa-icon-list--size-lg margin-top-2">
  <% [1,2,3].each do |idx| %>
    <li class="usa-icon-list__item">
      <div class="usa-icon-list__icon">
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="<%= asset_path '@uswds/uswds/dist/img/sprite.svg' %>#arrow_forward"></use>
        </svg>
      </div>

      <div class="usa-icon-list__content">
        <h3 class="usa-icon-list__title font-family-sans"><%= t(".prompt.item_#{idx}.title") %></h3>
        <p><%= t(".prompt.item_#{idx}.subtitle") %></p>
      </div>
    </li>
  <% end %>
</ul>

<p class="font-serif-md"><%= t(".prompt.conclusion") %></p>

<%= link_to t(".request_exemption_button"), new_exemption_application_form_path(certification_case_id: @certification_case.id), class: "usa-button" %>
<%= link_to t(".report_activities_button"), new_activity_report_application_form_path(certification_case_id: @certification_case.id), class: "usa-button usa-button--outline" %><br />
