<% content_for :title, t(".title") %>

<%= render "step_indicator", current_step: @current_step %>

<div class="exemption-screener">
  <h1 class="margin-bottom-4">
    <%= @current_question["question"] %>
  </h1>

  <p class="margin-bottom-4">
    <%= @current_question["explanation"] %>
  </p>

  <%= strata_form_with(
      url: exemption_screener_answer_question_path(
        exemption_type: @current_exemption_type,
        certification_case_id: @certification_case.id
      ),
      method: :post,
      data: { turbo: false, controller: "exemption-screener" }
    ) do |f| %>

    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">
        <%= @current_question["question"] %>
      </legend>

      <%= f.radio_button :answer, "yes", {
        label: t(".buttons.yes_answer"),
        hint: @current_question["yes_answer"],
        tile: true,
        data: { action: "change->exemption-screener#enableSubmit" }
      } %>

      <%= f.radio_button :answer, "no", {
        label: t(".buttons.no_answer"),
        tile: true,
        data: { action: "change->exemption-screener#enableSubmit" }
      } %>

      <div class="usa-button-group margin-top-4" role="group" aria-label="<%= t('.buttons.navigation_actions', default: 'Navigation actions') %>">
        <%= exemption_screener_back_button(@previous_exemption_type, @certification_case) %>
        <%= f.submit t(".buttons.submit"), class: "usa-button", data: { exemption_screener_target: "submit" } %>
      </div>
    </fieldset>
  <% end %>
</div>
