<% content_for :title, t(".title") %>
<%= render partial: 'application/flash' %>
<div class="display-flex flex-justify">
  <h1><%= t(".heading") %></h1>
  <%= link_to t(".upload_new"), new_certification_batch_upload_path, class: "usa-button" %>
</div>
<%= turbo_frame_tag "uploads_table",
      data: {
        turbo: true,
        controller: "auto-refresh",
        auto_refresh_active_value: feature_enabled?(:batch_upload_v2) && @batch_uploads.any?(&:processing?),
        auto_refresh_interval_value: 5000
      } do %>
  <% if @batch_uploads.any? %>
    <table class="usa-table usa-table--borderless width-full margin-top-4">
      <thead>
        <tr>
          <th scope="col"><%= t(".columns.filename") %></th>
          <th scope="col"><%= t(".columns.uploader") %></th>
          <th scope="col"><%= t(".columns.uploaded_at") %></th>
          <th scope="col"><%= t(".columns.status") %></th>
          <th scope="col"><%= t(".columns.progress") %></th>
          <th scope="col"><%= t(".columns.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "upload_row", collection: @batch_uploads, as: :batch_upload %>
      </tbody>
    </table>
  <% else %>
    <div class="usa-alert usa-alert--info margin-top-4" role="alert">
      <div class="usa-alert__body">
        <p class="usa-alert__text"><%= t(".no_uploads") %></p>
      </div>
    </div>
  <% end %>
<% end %>
