<% content_for :title, t(".title") %>
<%= render partial: 'application/flash' %>
<h1><%= @batch_upload.filename %></h1>
<dl class="grid-row margin-bottom-2">
  <dt class="grid-col-3"><strong><%= t(".uploader") %>:</strong></dt>
  <dd class="grid-col-9"><%= uploader_display_name(@batch_upload) %></dd>
  <dt class="grid-col-3"><strong><%= t(".uploaded_at") %>:</strong></dt>
  <dd class="grid-col-9"><%= @batch_upload.created_at.strftime("%B %d, %Y at %I:%M %p") %></dd>
  <dt class="grid-col-3"><strong><%= t(".upload_status") %>:</strong></dt>
  <dd class="grid-col-9">
    <span class="usa-tag <%= status_tag_class(@batch_upload.status) %>">
      <%= t("certification_batch_uploads.statuses.#{@batch_upload.status}") %>
    </span>
  </dd>
  <% if @batch_upload.num_rows > 0 %>
    <dt class="grid-col-3"><strong><%= t(".num_rows") %>:</strong></dt>
    <dd class="grid-col-9"><%= @batch_upload.num_rows %></dd>
  <% end %>
  <% if @batch_upload.processed_at %>
    <dt class="grid-col-3"><strong><%= t(".processed_at") %>:</strong></dt>
    <dd class="grid-col-9"><%= @batch_upload.processed_at.strftime("%B %d, %Y at %I:%M %p") %></dd>
  <% end %>
</dl>
<% alert_options = status_alert_options(@batch_upload) %>
<div class="margin-top-4">
  <% if alert_options %>
    <%= render "staff/certification_batch_uploads/status_alert", **alert_options %>
  <% elsif @batch_upload.completed? %>
    <%= render "staff/certification_batch_uploads/completed",
               batch_upload: @batch_upload, upload_errors: @upload_errors %>
  <% end %>
</div>
<div class="margin-top-4">
  <%= link_to t(".back_to_queue"), certification_batch_uploads_path, class: "usa-button usa-button--outline" %>
  <%= link_to t(".back_to_dashboard"), staff_path, class: "usa-button usa-button--unstyled" %>
</div>
