<%= render partial: 'member_mailer/greeting', locals: { first_name: @first_name } %>

<p><%= t('.need_information') %></p>

<p><%= t('.login_instructions_html', login_link: link_to(@login_url, @login_url), due_date: content_tag(:strong, @due_date)).html_safe %></p>
<ol>
  <li>
    <strong style="display: block; margin-bottom: 0.5em;"><%= t('.report_activities.title') %></strong>
    <%= t('.report_activities.description_html').html_safe %>
    <%= t('.report_activities.helpful_examples') %>
    <ul>
      <li><%= t('.report_activities.work_income').html_safe %></li>
      <li><%= t('.report_activities.job_search').html_safe %></li>
      <li><%= t('.report_activities.volunteering').html_safe %></li>
    </ul>
  </li>
  <li>
    <strong style="display: block; margin-bottom: 0.5em;"><%= t('.check_exempt.title') %></strong>
    <%= t('.check_exempt.description') %>
  </li>
</ol>
<p><%= t(".coverage_warning", due_date: @due_date)%></p>
<p><%= t(".questions")%></p>

<%= render 'member_mailer/signature' %>

<%= render 'demo_notice' %>
