<%= render partial: 'member_mailer/greeting', locals: { first_name: @first_name }  %>

<p><%= t('.good_news', period: @period) %></p>

<p><strong><%= t('.what_this_means.title') %></strong></p>
<ul>
  <li><%= t('.what_this_means.item_1_html') %></li>
  <li><%= t('.what_this_means.item_2_html', renewal_date: @renewal_date) %></li>
</ul>

<p><%= t('.contact_if_needed_html', root_url: link_to(root_url, root_url)) %></p>

<p><%= t('.questions') %></p>

<%= render 'member_mailer/signature' %>

<%= render 'demo_notice' %>
